.profile-dropdown-menu {
  position: absolute;
  right: 131px;
  top: 24px;
  width: fit-content;
  background-color: var(--lightestgold);
  padding: 15px;
  border: solid 1px var(--medgold);
  border-radius: 12px;
  box-shadow: inset 1px 1px 5px var(--lightestgold), inset -1px -1px 2px var(--medgold);
}


.profile-dropdown-menu li{
list-style: none;
}

.profile-dropdown-menu a{
  color: var(--darkestegg);
}

.menu-button {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1em;
  margin: 0;
  padding-top: 0;
  /* bottom: 8px; */
  /* top: 8px; */
  /* right: 160px; */
  width: 80px;
  height: 25px;
  /* position: absolute; */
}
