.rdrDays{
    width: 340px;
    margin: 0;
}
.rdrDay{
    width: 47.5px;
    margin: 0px;
}

.rdrDayToday .rdrDayNumber span:after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: var(--darkgold);
}

.rdrDayDisabled{
  background: var(--lightestpink);
}
.rdrDayDisabled .rdrDayNumber span{
  color: var(--medred);
}

.rdrNextPrevButton {
  background: var(--medegg);
}

.rdrNextPrevButton:hover {
  background: var(--lightgold);
}

.rdrDateDisplayWrapper {
  background: var(--lightgold);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rdrCalendarWrapper.rdrDateRangeWrapper{
  border-radius: 15px;
  
}