#estate-body{
    
    width: 65%;
    margin: 0 auto;
}

#estate-head-title{
 font-size: 48px;
}

#estate-head-info{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
#estate-head-info div {
    padding: 8px;
}


#image-display-body{
    border-radius: 12px;
    /* border: 2px black solid; */
    display: flex;
    min-width: 1121px;
}
img{
    border-radius: 12px;
    border: 1px var(--medgold) solid;
}

#main-image img{
    width: 555px;
    height: 555px;
    object-fit: cover;
}

#cluster-images img{
    width: 275px;
    height: 275px;
    object-fit: cover;
    margin-left: 5px;
}

#desc-avail-charter{
    display: flex;
    min-width: 1121px;
    margin-top: 38px;
}

#description-header{
    font-size: 24px;
}
#estate-details{
    font-size: 14px;
    color: var(--darkred);
    padding: 8px 0 18px;
    border-bottom: 1px var(--lightgold) solid;
}
#estate-description{
    padding: 24px;
}

.checkdates{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    margin: 0 auto;

}
#no-charge-yet{
    text-align: center;
    font-size: 13px;
}

#charter-form{
    width: 370px;
    height: 500px;
    padding: 20px;
    border: 1px var(--lightgold) solid;
    border-radius: 18px;
}
 #charter-form input{
    margin: 15px 0;
 }
 #reserve-btn{
     width: 100%;
     margin: 0 auto;
     font-size: 18px;
 }

#service-cost{
    border-bottom: 2px var(--lightgold) solid
}
.invoice-row{
    display: flex;
    justify-content: space-between;
    color: var(--darkgold);
}
#total-cost{
    color: var(--darkestgold);
}