#estate-body{

    width: 65%;
    min-width: 1122px;
    margin: 0 auto;
    margin-bottom: 237px;
}

#estate-head-title{
 font-size: 48px;
}

#estate-head-info{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
}
#estate-head-info div {
    padding: 7px 10px 17px 17px;

}

#avail-info{
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
    border-top: 1px var(--lightgold) solid;
}

#image-display-body{
    border-radius: 12px;
    /* border: 2px black solid; */
    display: flex;
    margin: 0 auto;
    width: 1121px;
    /* width: 1121px; */
}
img, .no-img {
    border-radius: 12px;
    border: 1px var(--medgold) solid;
}

#main-image img{
    width: 555px;
    height: 555px;
    object-fit: cover;
}

#cluster-images img{
    width: 275px;
    height: 275px;
    object-fit: cover;
    margin-left: 5px;
}

#cluster-images{
    max-width: 565px;
}

#desc-avail-charter{
    display: flex;
    min-width: 1121px;
    margin-top: 38px;
    border-bottom: 2px var(--lightgold) solid;
    padding-bottom: 38px;
}

#description-header{
    font-size: 24px;
}
#estate-details{
    font-size: 14px;
    color: var(--darkred);
    padding: 8px 0 18px;
    border-bottom: 1px var(--lightgold) solid;
}
#estate-description{
    padding: 24px;
}

.checkdates{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    margin: 0 auto;

}
#no-charge-yet{
    text-align: center;
    font-size: 13px;
}

#charter-form{
    width: 370px;
    height: 530px;
    padding: 20px;
    border: 1px var(--lightgold) solid;
    border-radius: 18px;
    box-shadow: inset 1px 1px 5px var(--lightestgold), inset -1px -1px 2px var(--medgold);
}
#charter-form input{
    margin: 0px 0 15px 0;
}
#reserve-btn{
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
}

#service-cost{
    border-bottom: 2px var(--lightgold) solid
}
.invoice-row{
    display: flex;
    justify-content: space-between;
    color: var(--darkgold);
}
#total-cost{
    color: var(--darkestgold);
}
.rdrDefinedRangesWrapper{
    display: none;
}

#critique-display-body{
    border-bottom: 2px solid var(--darkgold);
}
.critique-boxes{
    background-color: var(--lightestegg);
    padding: 38px;
    margin: 56px;
    border-radius: 26px;
    box-shadow: inset 1px 1px 15px var(--lightestgold), inset -1px -1px 15px var(--lightestgold);
}
.critique-boxes div{
    color: var(--darkestgold);
}
.critique-users{
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.critique-dates{
    font-size: 13px;
    color: var(--)
}


#location-display{
    margin: 56px 0;
}
#location-header{
    font-size: 38px;
}
#google-display{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background-color: var(--medgold);
    padding: 4px;
    margin: 38px auto;
}
.google-map-estate-show{
    border-radius: 38px;
}
#loc-name{
    font-size: 28px;
}
#loc-description{
    padding: 18px;
}

.emoji-rating-emoji {
    font-size: 2em;
}

.emoji-rating-emoji.on {
    background-color: transparent;
    font-size: 2em;
    text-shadow:0px 0px 5px white, 0px 0px 7px magenta, 0px 0px 10px cyan;
}

.emoji-rating-emoji.off {
    font-size: 2em;
    filter: grayscale(100%);
}

.critiqueAddForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.critique-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em;
}

.critiqueAddForm .btn {
    width: 33%;
    margin: 0 auto;
    font-size: 18px;
}

.critique-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em;
    padding: 1em;
}

.critique-text-area {
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: var(--lightestegg);
    resize: vertical;
    border-radius: 26px;
    padding: 1em;
    box-shadow: inset 1px 1px 15px var(--lightestgold), inset -1px -1px 15px var(--lightestgold);
}

.critique-controls {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
}

.critique-delete-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.checkdates input {
    margin-top: 6px;
    margin-bottom: 12px;
    border: 0.2px var(--lightgold) solid;
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--medgold);
}
.checkdates select:focus, .checkdates input:focus{
    outline: none;
    box-shadow: 1px 1px 6px var(--medgold);
}

.dates-invalid{
    color: var(--darkred);
}

#date-notice{
    font-weight: 300;
    font-size: 12px;
    margin-left: 38px;
}
