.auth-form form {
      display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    border: .5px solid var(--lightishblue);
    border-radius: 5px;
    box-shadow: 1px 1px 25px var(--lightblue);
    width: fit-content;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.auth-form {
    padding-top: 30px;
}

.auth-fields {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkgold);
}

.auth-form input {
    margin-bottom: 18px;
    margin: 0 auto 18px;;
    border: 0.2px var(--lightgold) solid;
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--medgold);
}
.auth-form input:focus{
    outline: none;
    box-shadow: 1px 1px 6px var(--medgold);
}

.login-text{
    color: var(--darkgold);
    text-align: center;
}

#signup-button{
    width: fit-content;
    margin: 0 auto;
}

.center{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
#h3-login{
    margin-top: 80px;
    margin-bottom:0;
}
#h4-login{
    margin-top: 0;
    margin-bottom: 80px;
}
#to-sign-up {
    width: 100%;
    margin: 0 auto;
    color: white;
}
#to-sign-up:hover {
    color: var(--medpink);
}
#to-log-in {
    width: 170px;
    margin: 0 auto;
    color: white;
}
#to-log-in:hover {
    color: var(--medpink);
}
.login-buttons-containers{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
