#estate-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 420px;
    margin: 138px auto 237px;
}

#my-estates-header {
  margin-left: 375px;
  margin-top: 50px;
}

#estate-display{
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row-left a {
    margin: 0 auto;
}

.form-field{
    display: flex;
    flex-direction: column;
    text-align: center;
}


label, input, button{
    margin: 5px;
}

.row-left img, .row-left .no-img.small, .delete-gallery-img, .delete-gallery-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.estate-rows{
    width: 60%;
    min-width: 1000px;
    margin: 0 auto 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    border: 1px var(--lightestgold) solid;
    border-radius: 12px;
    padding: 10px;
    box-shadow: inset 1px 1px 5px var(--lightestgold), inset -1px -1px 2px var(--medgold);
}

.estate-rows div{
    padding: 10px;
}

#hosted-estates-container{
    margin: 0 auto;
}
.row-description{
    font-size: 0.8em;
}

.row-buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-row-text{
    width: 100%;
}

.estate-edit-form{
    width: 460px;
}

.upload-image {
    display: none;
}

.upload-image.active {
    display: block;
}

.btn-pink {
    background-color: var(--medpink);
    padding: 5px;
    border-radius: 3px;
    border: 2px solid var(--darkpink);
    transition: all 0.3s;
}

.btn-pink:hover:not(:disabled) {
    background-color: var(--lightestpink);
    border: 2px solid var(--medpink);
    box-shadow: 0 0 8px var(--lightpink);
    color: var(--darkpink);
}

.btn-host-row {
    width: 130px;
}

.add-text{
    color: var(--darkestgold);
    margin: 0 auto;
}

h3.add-text{
    margin-bottom: 50px;
}

#estate-form input, #estate-form select{
    /* margin-bottom: 18px;
    margin: 0 auto 18px; */
    border: 0.2px var(--lightgold) solid;
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--medgold);
}
#estate-form input:focus, #estate-form select:focus{
    outline: none;
    box-shadow: 1px 1px 6px var(--medgold);
}

.estate-edit-form input, .estate-edit-form select{
    /* margin-bottom: 18px;
    margin: 0 auto 18px; */
    border: 0.2px var(--lightgold) solid;
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--medgold);
}
.estate-edit-form input:focus, .estate-edit-form select:focus{
    outline: none;
    box-shadow: 1px 1px 6px var(--medgold);
}

#text-input{
    height: 100px;
    word-break: break-all;
    overflow: scroll;
    display: block;
    width: 100%;
    min-height: 200px;
    /* background-color: var(--lightestegg);
    resize: vertical;
    /* border-radius: 26px; */
    padding: 1em;
    /* box-shadow: inset 1px 1px 15px var(--lightestgold), inset -1px -1px 15px var(--lightestgold); */
    /* background-color: green; */
}

.field-textarea #text-input{
    word-break: break-all;
}

.delete-gallery {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}


.delete-gallery-img {
    position: relative;
}

.delete-gallery-control {
    height: 100px;
    width: 100px;
    color: var(--lightestegg);
    opacity: 0.8;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transition: font-size 0.5s, justify-content 0.5s, align-items 0.5s;
}

.delete-gallery-control svg {
    padding-top: 8px;
    padding-right: 8px;
}

.delete-gallery-control:hover {

    font-size: 5em;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.delete-gallery-control:hover svg {
    padding-top: 0px;
    padding-right: 0px;
}

.delete-gallery-modal img {
    width: 300px;
    object-fit: cover;
}

.no-estate-header{
    text-align: center;
    color: var(--darkgold);
}