#home-page-container{
    display: flex;
    width: 1431px;
    margin: 0 auto 237px;
    
}

.estate-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1225px;
    margin: 0 auto;
}

.estate-cards{
    width: 280px;
    margin: 13px;
    font-size: 0.9em;
}

.home-card-img img, .home-card-img p {
    width: 277px;
    height: 277px;
    object-fit: cover;
}

.no-img {
    display: flex;
    color: var(--darkred);
    background-color: var(--lightestgold);
    justify-content: center;
    align-items: center;
}

.home-card-text{
    padding: 5px 5px;
}
.card-top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}
.card-critique{
    color: var(--medgold);
}
.fa-star {
    font-size: 0.9em;
}
.per-night, .card-critique, .card-type{
    font-weight: 300;

}
.card-type{
    padding-bottom: 4px;
}

.home-card-img a {
    width:277px;
}

.footer-backer{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height: 30px;
    background: linear-gradient(217deg, var(--medgold), var(--footergold) 70.71%),
            linear-gradient(127deg, var(--footergold), var(--medgold) 70.71%);
    margin: 0;

}
.footer {
    color: var(--lightestegg);
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 5px auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.footer li, .footer a{
    color: var(--lightestegg);
    font-size: 13px;
    font-weight: 300;
}

.footer span{
    font-size: 15px;
    font-weight: 300;
}
