#home-page-container{
    display: flex;
    width: 1431px;
    margin: 0 auto;
}

.estate-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1225px;
    margin: 0 auto;
}

.estate-cards{
    width: 280px;
    margin: 13px;
    font-size: 0.9em;
}

.home-card-img img, .home-card-img p {
    width: 277px;
    height: 277px;
    object-fit: cover;
}

.no-img {
    display: flex;
    color: var(--darkred);
    background-color: var(--lightestgold);
    justify-content: center;
    align-items: center;
}

.home-card-text{
    padding: 5px 5px;
}
.card-top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}
.card-critique{
    color: var(--medgold);
}
.fa-star {
    font-size: 0.9em;
}
.per-night, .card-critique, .card-availabilty{
    font-weight: 300;
}

.home-card-img a {
    width:277px;
}