.search-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  border: 1px solid;
  background-color: white;

}

.search-inputs {
  display: flex;
  justify-content: center;
}

.search-guests-input {
  display: flex;
}

.search-buttons-container button {
  text-decoration: none;
  background: transparent;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  appearance: none;
}
