.search-container {
  text-align: center;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  border: 1px solid rgba(0, 0, 0, 0.108);
  background-color: white;
  width: 335px;
  z-index: 1;
}

.search-container-showing {
  padding: 0;
  margin: 0;
}

.search-container-with-nav {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 width: 400px;
 margin-top: 4px;
}
.search-container-hidden {
  display: none;
}

.search-container-with-nav nav {
  margin-bottom: 20px;
  padding-top: 0;
  bottom: 8px;
  position: relative;
  top: 8px;

}
.search-guests-input {
  display: flex;
}
.search-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  min-width: 300px;
  height: 100%
}

.search-buttons-container button {
  text-decoration: none;
  background: transparent;
  height: fit-content;
  cursor: pointer;
  border: 1px solid transparent;
  align-self: center;
  /* border: 1px solid black; */
  border-radius: 4px;
  outline: none;
  appearance: none;

  margin: 0 15px;
  /* text-align: center; */
  /* padding: 0 15px; */

}
.search-buttons-container p {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  width: 100px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.search-inputs {
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#f7f7f7;
  width: 395px;
  padding-left: 30px;
}

.search-inputs:hover {
  background-color: var(--lightestegg);
}

.hidden-buttons {
  display: none;
}

.inputs-revealed {
  display: flex;
  width: 850px;
  justify-content: space-evenly;
  height: 66px;
  align-items: center;
  position: relative;
  background-color:#f7f7f7;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);

}

.inputs-revealed * {
  text-align: left;
}

.inputs-hidden {
  animation-duration: 1s;
  animation-name: slideout;

  display: none;
}
@keyframes slidein {
  from {

    bottom: 0;
  }

  to {
    bottom: 200px;
  }
}

.guest-input {
  display: flex;
}

.search-input-destination {
  display: flex;
  flex-direction: column;
}


.inputs-revealed {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    bottom: 200px;
  }

  to {
    bottom: 0;
  }
}

.search-button-spans {
  font-size: 90%;
  line-height: normal;
  width: 100%;
  line-height: 2rem;
  /* border-left: 1px solid #323435; */
  border-radius: 25px;
  cursor: pointer;
}

#search-duration-input {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

#when-label {
  padding: 0;
  margin: 0;
}

/* .fa-magnifying-glass{
  color: var(--medgold);

} */


#search-button-icon {
    background-color: var(--medgold);
    position: relative;
    right: 15px;
    color: white;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid var(--darkgold);
    transition: all 0.3s;
}

#search-button-icon:hover {
    background-color: var(--lightegg);
    border: 2px solid var(--medgold);
    box-shadow: 0 0 8px var(--lightgold);
    color: var(--darkgold);
}

#state-search-input{
    /* margin-bottom: 18px;
    margin: 0 auto 18px; */
    border: 0.2px var(--lightgold) solid;
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--medgold);
    margin-bottom: 8px;
}
#state-search-input:focus{
    outline: none;
    box-shadow: 1px 1px 6px var(--medgold);
}
