.nav-home {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 0 160px;
  margin-top: 8px;
}

#nav-icon-title {
  margin: 0;
  padding-top: 0;
  bottom: 8px;
  position: absolute;
  top: 8px;
  left: 195px;
}

#icon-img-div {
  /* display: flex;
  align-items: center; */
  position: absolute;
  top: 4px;
  font-size: 28px;
}

#nav-icon {
  margin: 0;
  padding-top: 0;
  bottom: 8px;
  position: absolute;
  top: 22px;
}

#header-homepage-link{
  color: var(--darkgold);
}

.nav-buttons{
  display: flex;
  width: 200px;
}

.nav-icon-div{
  width: 165px;
  height: 30px;
}