.nav-home {
  box-sizing: border-box;
  display: flex;
  height: 86px;
  position: fixed;
  width: 100%;
  min-width: 1550px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0px 160px;
  /* margin-bottom: 20px; */
  align-items: center;
  background-color:#eee9e5;
  border-bottom: 1px solid rgb(211, 206, 206);
}

#nav-icon-title {
  margin: 0;
  padding-top: 0;
  /* bottom: 8px; */
  /* position: absolute; */
  /* top: 8px; */
  /* left: 195px; */
  padding-left: 10px;
}

#icon-img-div {
  /* display: flex;
  align-items: center; */
  /* position: absolute; */
  /* top: 4px;
  font-size: 28px; */
}

#nav-icon {
  margin: 0;
  padding-top: 0;
  /* bottom: 8px; */
  /* position: absolute; */
  /* top: 22px; */
}

#header-homepage-link{
  color: var(--darkgold);
}

.nav-buttons{
height: 40px;
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  z-index: 12px;
}

.nav-icon-div{
  display: flex;
  align-items: center;
  width: 165px;
  height: 50px;
}
