.destination-results {
  position: absolute;
  overflow-y: auto;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  margin-top: 12px;
  padding: 16px 32px;
  overflow-x: hidden;
  top: 100%;
  left: 0;
  width: 33%;
}

.destination-result .destination-item {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.destination-item:hover {
  background-color: lightgray;
}

.destination-results-hidden {
  display: hidden;
}
